.exp-box .list p, .exp-box .about-box .pic, .info-box .right-info .info-card {
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);
}

.exp-box {
  max-width: 1000px;
  margin: 0 auto;
}

.index-page, .index-page .index_box .link, .exp-box .about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
  color: #1A959E;
}

body {
  font-family: Helvetica, sans-serif;
  color: #555;
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 1.5;
}

.index-page {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
}

.index-page .index_box {
  text-align: center;
}

.index-page .index_box .logo {
  width: 200px;
  height: 200px;
  background-color: #E0F9F3;
  border-radius: 100px;
  margin: 16px auto;
}

.index-page .index_box p {
  line-height: 1.5;
  margin-bottom: 16px;
}

.index-page .index_box .link {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-page .index_box .link a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.index-page .index_box .link a:nth-child(1) {
  background-color: #E0F9F3;
}

.index-page .index_box .link a:nth-child(2) {
  background-color: #F3E0F9;
}

.index-page .index_box .link a:nth-child(3) {
  background-color: #F5F9E0;
}

.go-home {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  margin: 16px;
  z-index: 10;
  font-size: 60%;
  line-height: 1.6;
}

.go-home a::before {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #E0F9F3;
  border-radius: 40px;
  font-size: 40px;
  line-height: 80px;
}

.exp-box {
  line-height: 1.6;
  padding: 50px 0;
}

.exp-box .list {
  display: block;
  color: #1A959E;
}

.exp-box .list p {
  display: inline-block;
  padding: 16px;
  margin: 8px auto;
}

.exp-box .list p span {
  display: block;
  font-size: 80%;
  color: #555;
  margin-left: 16px;
}

.exp-box .list i {
  margin-left: 16px;
  font-size: 60%;
}

.exp-box .about-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

.exp-box .about-box .pic {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  background-image: url(../images/mypic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exp-box .about-box .txt {
  width: 60%;
}

.exp-box .about-box .txt .name {
  font-size: 150%;
  font-weight: bold;
  color: #1A959E;
}

.exp-box .about-box .txt .pro {
  color: #1A959E;
}

.exp-box .exp-list {
  font-size: 120%;
}

.exp-box .exp-list > div {
  margin-bottom: 30px;
}

.exp-box .exp-list .icon {
  float: left;
  position: absolute;
  display: inline-block;
  width: 25%;
  text-align: center;
  color: #1A959E;
}

.exp-box .exp-list .icon span {
  font-size: 80%;
  margin-left: 45px;
}

.exp-box .exp-list .icon::before {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #E0F9F3;
  line-height: 60px;
}

.exp-box .exp-list .list-box {
  display: inline-block;
  width: 75%;
  margin-left: 25%;
}

.exp-box .exp-list .edu::after {
  content: "";
  display: block;
  clear: both;
}

.exp-box .exp-list .skill .list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.exp-box .exp-list .skill .list-box .list {
  width: 48%;
}

.exp-box .exp-list .skill .list-box .list p {
  width: 100%;
}

.exp-box .exp-list .skill .list-box .list i {
  position: absolute;
  left: -16px;
  bottom: 2px;
  width: 100%;
}

.exp-box .exp-list .skill .list-box .list i::before {
  content: "";
  display: inline-block;
  background-color: #1A959E;
  opacity: 0.6;
  height: 2px;
}

.exp-box .exp-list .skill .list-box .list i::after {
  opacity: 0;
  margin-left: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.exp-box .exp-list .skill .list-box .list i.bar-10::before {
  width: 10%;
}

.exp-box .exp-list .skill .list-box .list i.bar-20::before {
  width: 20%;
}

.exp-box .exp-list .skill .list-box .list i.bar-30::before {
  width: 30%;
}

.exp-box .exp-list .skill .list-box .list i.bar-40::before {
  width: 40%;
}

.exp-box .exp-list .skill .list-box .list i.bar-50::before {
  width: 50%;
}

.exp-box .exp-list .skill .list-box .list i.bar-60::before {
  width: 60%;
}

.exp-box .exp-list .skill .list-box .list i.bar-70::before {
  width: 70%;
}

.exp-box .exp-list .skill .list-box .list i.bar-80::before {
  width: 80%;
}

.exp-box .exp-list .skill .list-box .list i.bar-90::before {
  width: 90%;
}

.exp-box .exp-list .skill .list-box .list i.bar-10::after {
  content: "10%";
}

.exp-box .exp-list .skill .list-box .list i.bar-20::after {
  content: "20%";
}

.exp-box .exp-list .skill .list-box .list i.bar-30::after {
  content: "30%";
}

.exp-box .exp-list .skill .list-box .list i.bar-40::after {
  content: "40%";
}

.exp-box .exp-list .skill .list-box .list i.bar-50::after {
  content: "50%";
}

.exp-box .exp-list .skill .list-box .list i.bar-60::after {
  content: "60%";
}

.exp-box .exp-list .skill .list-box .list i.bar-70::after {
  content: "70%";
}

.exp-box .exp-list .skill .list-box .list i.bar-80::after {
  content: "80%";
}

.exp-box .exp-list .skill .list-box .list i.bar-90::after {
  content: "90%";
}

.exp-box .exp-list .skill .list-box .list:last-child {
  width: 100%;
}

.exp-box .exp-list .skill .list-box .list:hover i::after {
  opacity: 1;
}

.exp-box .exp-list .hobby .list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.exp-box .exp-list .hobby .list-box .list {
  min-width: 32%;
  text-align: center;
}

.exp-box .exp-list .hobby .list-box .list p {
  width: 100%;
}

.exp-box .exp-list::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  display: block;
  left: 12.5%;
  background-color: #1A959E;
  opacity: 0.4;
}

.gotopage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gotopage a {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.gotopage a.go-page {
  background-color: #F3E0F9;
  color: #7F39AD;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.gotopage a.go-top {
  color: #A6AD39;
  background-color: #F5F9E0;
}

.gotopage a.go-top::before {
  content: "<";
  position: absolute;
  margin-left: -3px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 20%;
  font-family: monospace;
}

.grid {
  width: calc(100% - 150px);
}

.grid .element-item {
  width: calc(100% / 4);
  padding: 8px;
}

.grid .element-item a {
  display: block;
}

.grid .element-item a img {
  display: block;
  width: 100%;
}

.info-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}

.info-box .left-pic {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  vertical-align: text-top;
}

.info-box .left-pic .tip {
  width: 50%;
  height: 10%;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
  opacity: .6;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
}

.info-box .left-pic .tip i {
  display: block;
}

.info-box .left-pic:hover .tip {
  opacity: 0;
}

.info-box .left-pic img {
  width: 100%;
}

.info-box .left-pic::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(133, 133, 133, 0.3);
  background-color: #E0F9F3;
}

.info-box .left-pic::-webkit-scrollbar {
  width: 3px;
  background-color: #E0F9F3;
}

.info-box .left-pic::-webkit-scrollbar-thumb {
  background-color: #1A959E;
}

.info-box .center-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-box .center-page p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding: 30px;
  font-weight: bold;
  color: #1A959E;
}

.info-box .center-page ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.info-box .center-page ul li a {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  font-size: 120%;
  background-color: #999999;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.info-box .center-page ul li a.active, .info-box .center-page ul li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #1A959E;
  background-color: #E0F9F3;
}

.info-box .right-info {
  width: 50%;
  vertical-align: text-top;
}

.info-box .right-info .info-card {
  padding: 16px;
  margin: 16px;
  width: 80%;
}

.info-box .right-info .info-card h3 {
  font-size: 200%;
  font-weight: bold;
  line-height: 2;
}

.info-box .right-info .info-card p a {
  display: block;
}

.info-box .right-info .info-card p span {
  color: #1A959E;
  margin-right: 16px;
}

.info-box .right-info .close {
  position: absolute;
  right: 0;
  top: 0;
}

.info-box .right-info .close i {
  padding: 10px;
  font-size: 40px;
}

.side-link {
  position: fixed;
  right: 0;
  bottom: 30%;
}

.side-link a {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  margin-top: 16px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.side-link a.go-page {
  background-color: #F3E0F9;
  color: #7F39AD;
}

.side-link a.go-page i {
  margin-left: -50%;
}

.side-link a.go-about {
  background-color: #E0F9F3;
}

.side-link a.go-about i {
  margin-left: -50%;
}

.side-link a.go-top {
  color: #A6AD39;
  background-color: #F5F9E0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.side-link a.go-top::before {
  content: "<";
  font-family: monospace;
  margin-left: -50%;
}

.side-link a.go-top i {
  margin-left: -50%;
}
/*# sourceMappingURL=mainstyle.css.map */